# *.html linguist-detectable=false
# *.css linguist-detectable=false
# *.js linguist-detectable=false

# htdocs/** linguist-vendored

htdocs/css/** linguist-vendored
htdocs/images/** linguist-vendored
htdocs/locales/** linguist-vendored

htdocs/js/* linguist-vendored